extends layout

block content
  h1= title
  - let image_names = ["iphone X.jpg","Amazon_dot.jpg","apple-watch.jpg","Amazon_echo_dot.jpg","Apple Watch.jpg"]
   -for(let i=0; i<3; i++){
    -let random= Math.floor(Math.random()*5)
     img(src=`/images/${image_names[random]}` alt=`Image Name widget${random}` height="300px" width="300px")
    -}